<template>
  <div class="CityOnquality">
    <div class="BoxInfo">Nombre:"" Description:""</div>
    <h1>City quality</h1>
    <button @click="goBikes">City Bikes</button>
  </div>
</template>

<script>
export default {
  name: "CityQualitylife",
  components: {},
  props: {
    quality: {
      propType: Array,
      required: true
    }
  },
  methods: {
    onClickquality(quality) {
      console.log(new Date(), "clic!!");
      this.$emit("onClickquality", quality);
    },
    goBikes() {
      this.$emit("changeScreenEvent", 3);
    }
  }
};
</script>

<style scoped>
.BoxInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  height: 200px;
  background-color: antiquewhite;
}
button {
  box-shadow: 0px 0px 17px rgba(3, 0, 163, 0.691);
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgb(0, 255, 213);
  border-radius: 11px;
  transition: 0.4s;
}
.CityOnquality {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 929px;

  transition: opacity 0.1s ease;
  display: block;
  color: blue;
  font-size: 22px;
  font-weight: bold;
  margin: 21px;
  padding: 15px;
}
.quality {
  display: block;
  color: blue;
  font-size: 22px;
  font-weight: bold;
  margin: 21px;
  padding: 15px;
  height: 70px;
  width: 410px;

  box-shadow: 0px 0px 17px rgba(3, 0, 163, 0.691);
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgb(0, 255, 213);
  border-radius: 11px;
  transition: 0.4s;
}
</style>
