<template>
  <div>
    <h1>City bikes</h1>
    <button @click="goCitySelector">Inicio</button>
  </div>
</template>

<script>
export default {
  name: "CityBikes",
  components: {},
  props: {},
  methods: {
    goCitySelector() {
      this.$emit("changeScreenEvent", 1);
    }
  }
};
</script>

<style scoped></style>
