<template>
  <div class="cityOnmain">
    <button
      v-for="city in cityList"
      :key="city.name"
      class="city"
      @click="onClickCity(city)"
    >
      {{ city.name }}
    </button>
  </div>
</template>

<script>
export default {
  name: "CitySelector",
  components: {},
  props: {
    cityList: {
      propType: Array,
      required: true
    }
  },
  methods: {
    onClickCity(city) {
      this.$emit("changeScreenEvent", 2);
      this.$emit("callApi", city);
    }
  }
};
</script>

<style scoped>
.cityOnmain {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 929px;
}
.city {
  transition: opacity 0.1s ease;
  display: block;
  color: blue;
  font-size: 22px;
  font-weight: bold;
  margin: 21px;
  padding: 15px;
  height: 70px;
  width: 410px;

  box-shadow: 0px 0px 17px rgba(3, 0, 163, 0.691);
  appearance: none;
  border: none;
  outline: none;
  background: none;
  background-color: rgb(0, 255, 213);
  border-radius: 11px;
  transition: 0.4s;
}
</style>
