<template>
  <div id="app">
    <CitySelector
      v-if="showScreen == 1"
      :cityList="cityList"
      @changeScreenEvent="changeScreen"
      @callApi="getCityData"
    />
    <CityQualitylife
      v-if="showScreen == 2"
      :quality="CityQuality"
      @changeScreenEvent="changeScreen"
    />
    <CityBikes v-if="showScreen == 3" @changeScreenEvent="changeScreen" />
  </div>
</template>

<script>
import axios from "axios";
import CitySelector from "./components/CitySelector";
import CityQualitylife from "./components/CityQualitylife";
import CityBikes from "./components/CityBikes";
export default {
  name: "app",
  components: {
    CitySelector,
    CityQualitylife,
    CityBikes
  },
  data() {
    return {
      showScreen: 1,
      cityList: [
        {
          name: "Bilbao",
          lat: "43.2627106",
          long: "-2.9252801"
        },
        {
          name: "Donosti",
          lat: "43.2918100",
          long: " -1.9885100"
        },
        {
          name: "Gasteiz",
          lat: "42.8499794",
          long: "-2.6726799"
        },
        {
          name: "Paris",
          lat: "42.8499794",
          long: "-2.6726799"
        }
      ],
      qualityList: [
        /*         {
          name: "Bilbao",
          Description:
            "Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño",
          Imagen: "Img_1.jpg"
        },
        {
          name: "Donosti",
          Description:
            "Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño",
          Imagen: "Img_2.jpg"
        },
        {
          name: "Gasteiz",
          Description:
            "Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño",
          Imagen: "Img_3.jpg"
        },
        {
          name: "Paris",
          Description:
            "Es un hecho establecido hace demasiado tiempo que un lector se distraerá con el contenido del texto de un sitio mientras que mira su diseño",
          Imagen: "Img_4.jpg"
        } */
      ]
    };
  },
  mounted() {
    let vue = this;
    axios
      .get("http://192.168.21.67:3000/restaurantes")
      .then(function(response) {
        vue.datos = response.data;
        console.log(vue.datos);
      });
  },
  methods: {
    changeScreen(number) {
      this.showScreen = number;
    },
    getCityData(city) {
      console.log("City data", city);
    }
  }
};
</script>

<style>
@media (max-width: 992px) {
  #app {
    background-color: blue;
    background-size: 100%;
    background-position: bottom;
    height: 100%;
    padding: 20px;
  }
}
</style>
